* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/************************ Player - controls ****************************/
.player-box {
  position: relative;
  width: auto;
  max-width: 100%;
  overflow-x: none;
}

.player-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*************************** time range ******************************/
.time-range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: white;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 5px;
  background-image: linear-gradient(#ce1141, #ce1141);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ce1141;
  border-radius: 100%;
  cursor: pointer;
}

.time-range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ce1141;

  cursor: pointer;
  border-radius: 100%;
}
/*************************** time range end *********************************/

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
  position: relative;
}

.video-container:hover .player-controls {
  transform: translateY(0%);
  display: flex;
  opacity: 1;
}

.player-video {
  width: 100%;
}

.player-controls {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  min-width: 350px;
  background: transparent;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 850ms ease-in;
}

button {
  outline: none;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/**************** play, pause, forward, mute-unmute buttons ******************/
.play-pause-button {
  margin-left: -15%;
  background: transparent;
}

.pause-button {
  display: none;
}

.forward-button {
  margin-left: -23%;
  margin-right: 4%;
  position: absolute;
  left: 30%;
}

.mute-unmute-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -10%;
  margin-right: 5%;
  cursor: pointer;
}

.sound-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -29%;
}

/************************** volume slider ***************************/
.volume-slider {
  width: 50%;
  -webkit-appearance: none;
  height: 5px;
  background: white;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  border-radius: 5px;
  background-image: linear-gradient(#ce1141, #ce1141);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  margin-left: 5%;
}

.volume-slider::-webkit-slider-thumb {
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

/************************** volume slider end ***************************/

.time-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translateX(1059%);
}

.playback-time {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5%;
  color: white;
  font-size: 12px;
  margin-left: -19%;
  margin-bottom: 2px;
  font-family: sans-serif;
}

.seperate-time {
  margin-left: 5%;
  margin-right: 5%;
}

/* .playback-rate {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  /* background-color: red;
    width: 100%;
    max-width: 500px; */

/* 
.button-settings:focus + .playback-rate {
  opacity: 1;
  pointer-events: all;
  transition: all 345ms ease;
}

.button-settings:focus {
  transform: rotate(45deg);
  transition: all 1s ease-in;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: black;
  opacity: 0.6;
}

.btn:hover {
  opacity: 0.8;
} */

.time-stamp {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: -126%;
}

/************************* fullScreen *******************/

.full-screen-player {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.full-screen-player + .video-container:hover .player-controls {
  transform: translateY(0);
  display: flex;
}
/************************* fullScreen end *******************/

.playback-modal {
  display: none;
}

.playback-modal-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  background-color: gray;
  opacity: 0.5;
  bottom: 90%;
  right: 0%;
  width: 100%;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.playback-speed-button {
  margin-right: -5rem;
}

.playback-fullscreen {
  margin-right: -5rem;
}

/******************** Media Queries *****************************/
@media screen and (max-device-width: 920px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    transform: rotate(270deg);
  }
  .video-container {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .player-controls {
    opacity: 1;
  }

  .player-video {
    width: auto;
    height: 90vw;
    cursor: pointer;
  }

  .sound-box {
    margin-left: -24%;
  }

  .fullscreen-button {
    transform: translateX(499%);
  }

  .full-screen {
    width: 90vh;
    height: 100vw;
    cursor: pointer;
  }
}

@media screen and (max-device-width: 920px) and (orientation: landscape) {
  main {
    transform: rotate(0deg);
  }
  .video-container {
    width: 90vw;
    height: auto;
    cursor: pointer;
  }

  .player-video {
    width: 100%;
    max-width: 600px;
    height: 100%;
    cursor: pointer;
  }
}

@media screen and (max-device-width: 736px) {
  .playback-fullscreen {
    margin-right: -4rem;
  }
}

@media screen and (max-device-width: 428px) {
  .player-control-buttons {
    max-width: 100%;
    width: 355px;
  }
}

@media screen and (max-device-width: 375px) {
  .playback-fullscreen {
    margin-right: -4rem;
  }
  .player-control-buttons {
    max-width: 100%;
    width: 299px;
  }
}

@media screen and (max-device-width: 360px) {
  .player-control-buttons {
    max-width: 100%;
    width: 280px;
  }
}
